<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.png">
    <title>WORLCUP2022</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">WORLDCUP 2022</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-menu">
              <div class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" href="/">Index</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/playoff">Playoff</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/scorers">Scorers</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/standings">Standings</a>
                </li>
              </div>
            </div>
        </div>
    </nav>
      <div class="container-fluid p-5">
        <div class="row g-4">

          <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="card bg-light">
              <div class="card-body text-center card-top">
                <h3 class="card-title mb-3">Group A</h3>
              </div>
              <div class="card-body">
                <p class="card-text">
                        {{#each A.matches}}
                            <li>
                                <strong>{{ homeTeam.name }}</strong>
                                 vs
                                <strong>{{ awayTeam.name }}</strong>
                                {{score.fullTime.home}} - {{score.fullTime.away}}
                            </li>
                        {{/each}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="card bg-light">
              <div class="card-body text-center card-top">
                <h3 class="card-title mb-3">Group B</h3>
              </div>
              <div class="card-body">
                <p class="card-text">
                        {{#each B.matches}}
                            <li>
                                <strong>{{ homeTeam.name }}</strong>
                                 vs
                                <strong>{{ awayTeam.name }}</strong>
                                {{score.fullTime.home}} - {{score.fullTime.away}}
                            </li>
                        {{/each}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="card bg-light">
              <div class="card-body text-center card-top">
                <h3 class="card-title mb-3">Group C</h3>
              </div>
              <div class="card-body">
                <p class="card-text">
                        {{#each C.matches}}
                            <li>
                                <strong>{{ homeTeam.name }}</strong>
                                 vs
                                <strong>{{ awayTeam.name }}</strong>
                                {{score.fullTime.home}} - {{score.fullTime.away}}
                            </li>
                        {{/each}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="card bg-light">
              <div class="card-body text-center card-top">
                <h3 class="card-title mb-3">Group D</h3>
              </div>
              <div class="card-body">
                <p class="card-text">
                        {{#each D.matches}}
                            <li>
                                <strong>{{ homeTeam.name }}</strong>
                                 vs
                                <strong>{{ awayTeam.name }}</strong>
                                {{score.fullTime.home}} - {{score.fullTime.away}}
                            </li>
                        {{/each}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="card bg-light">
              <div class="card-body text-center card-top">
                <h3 class="card-title mb-3">Group E</h3>
              </div>
              <div class="card-body">
                <p class="card-text">
                        {{#each E.matches}}
                            <li>
                                <strong>{{ homeTeam.name }}</strong>
                                 vs
                                <strong>{{ awayTeam.name }}</strong>
                                {{score.fullTime.home}} - {{score.fullTime.away}}
                            </li>
                        {{/each}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="card bg-light">
              <div class="card-body text-center card-top">
                <h3 class="card-title mb-3">Group F</h3>
              </div>
              <div class="card-body">
                <p class="card-text">
                        {{#each F.matches}}
                            <li>
                                <strong>{{ homeTeam.name }}</strong>
                                 vs
                                <strong>{{ awayTeam.name }}</strong>
                                {{score.fullTime.home}} - {{score.fullTime.away}}
                            </li>
                        {{/each}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="card bg-light">
              <div class="card-body text-center card-top">
                <h3 class="card-title mb-3">Group G</h3>
              </div>
              <div class="card-body">
                <p class="card-text">
                        {{#each G.matches}}
                            <li>
                                <strong>{{ homeTeam.name }}</strong>
                                 vs
                                <strong>{{ awayTeam.name }}</strong>
                                {{score.fullTime.home}} - {{score.fullTime.away}}
                            </li>
                        {{/each}}
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="card bg-light">
              <div class="card-body text-center card-top">
                <h3 class="card-title mb-3">Group H</h3>
              </div>
              <div class="card-body">
                <p class="card-text">
                        {{#each H.matches}}
                            <li>
                                <strong>{{ homeTeam.name }}</strong>
                                 vs
                                <strong>{{ awayTeam.name }}</strong>
                                {{score.fullTime.home}} - {{score.fullTime.away}}
                            </li>
                        {{/each}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
      </script>
  </body>
</html>